@charset "UTF-8";

.userList{
			width: 1200px;
		    margin: 0 auto;
}

.userListToolbar{
			display: inline-block;
}

#userListSearch{
			display: inline;
		    position: relative;
		    margin-left: 0px;
		    left: 200px;
		    right: 100px;
}

#deleteSelectUser{
			width: 100px;
		    position: relative;
		    display: inline;
		    left: 500px;
}