@charset "UTF-8";
/*=================== 내정보 박스 css ================================ */
#my_info {
	background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    width:	600px;
    height: 370px;
    margin: 3% auto;
	
}

.profile_title {
	color: #333333;
	display: inline-block;
	margin-left: 40px;
    margin-top: 25px;
}

.info_Agree {
	color: #7F7F7F;
	font-size: 10px;
	margin-top: 3px;
    margin-left: 40px;
}

.my_Profile {
	width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: rgb(224, 224, 224);
    margin-left: 68px;
    margin-top: 35px;
    position: relative;
    display: inline-block;
    float: left;
}

.my_Profile_img{
	width: 140px;
    height: 140px;
	border-radius: 100%;
	    
}

.camera {
	position: absolute;
    width: 20px;
    height: 20px;
    top: 119px;
    left: 60px;
}

.crown {
	position: absolute;
    width: 30px;
    height: 30px;
    top: -24px;
    left: 56px;

} 

.uid {
	font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-left: 11px;
}

.unick {
	font-size: 13px;
    padding-left: 4px;
    margin: 2px;
}

.upw {
	margin-left: 42px;
    border: none;
}


.my_info2_list {
	background-color: rgb(255, 255, 255);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(224, 224, 224);
    margin-bottom: 5px;
    width: 320px;
    height: 24px;
}

.my_info2_item {
	color: #5e5e5e;
    font-size: 12px;
    display: inline-block;
    margin-left: 11px;
}

.my_info2_data {    
    text-align: center;
    color: #5e5e5e;
    font-size: 12px;
    display: inline-block;
}

#my_info2 {
 	display: inline-block;
    margin-top: 26px;
    margin-left: 37px;
}

#my_info3 {
	margin-top: 0px;
    margin-left: 40px;
	display: inline-block;
}

.more {
	margin-left: 560px;
    margin-top: 50px;
    width: 23px;
}

/* ========================= 모달 공통 사용 ============================= */
.addmodal,
.editmodal, .addmodal2 {
	overflow: auto; /* Enable scroll if needed */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	z-index: 1;
}

.cmodal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    width: 650px;
    height: 370px;
    border-radius: 0.5rem;
    text-align: center;
}

.modal3-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fef4f3;
	padding: 1rem 1.5rem;
	width: 350px;
    height: 280px;
	border-radius: 0.5rem;
	text-align: center;
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #808080;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal_close:hover,
.modal_close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	z-index: 99999;
}

/*========================== 비밀번호 확인, 프로필 수정 모달 ===================================  */
.modal_title {
	display: inline-block;
    margin-left: -500px;
    margin-top: 16px;
    color: #333333;
}

#modal_pwcheck {
	margin-top: 46px;
    font-size: 18px;
}

.modal_content {
	background-color: rgb(255, 255, 255);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(224, 224, 224);
    margin-bottom: 5px;
    width: 320px;
    height: 24px;
    margin-top: 53px;
    margin-left: 151px;
}

.modal_item {
	color: #585858;
    font-size: 17px;
    display: inline-block;
	margin-left: -37px;
	margin-right: 15px;
}

.modal_filetext {
	color: #585858;
    font-size: 17px;
  	display: inline-block;
}    

.modal_pw {    
    text-align: center;
    color: #5e5e5e;
    font-size: 12px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(224, 224, 224);
}


.modal_pw_ok {
	background-color: rgb(3, 88, 140);
    border-radius: 3px;
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    width: 70px;
    height: 34px;
    width: 70px;
    height: 33px;
/*     margin: 35px; */
	margin: 26px 0px 2px 0px;
}



/* ============================ 개인정보 수정 모달 ================================  */
.modal_content2 {
	margin-left: 5px;
    margin-top: 41px;
   	border-collapse: separate;
  	border-spacing: 20px;
}
.modal_readonly {
   border: 1px;
    border-radius: 2px;
    color: rgb(94, 94, 94);
    font-size: 13px;
    background-color: rgb(224, 224, 224);
     padding: 4px 10px;
}

.modal_write {
   border: 1px solid #ccc;
    border-radius: 2px;
    color: rgb(94, 94, 94);
    font-size: 13px;
    padding: 4px 10px;
}

.modal_name {
/*    	color: #5e5e5e; */
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.modal_ok {
   background-color: rgb(3, 88, 140);
    border-radius: 3px;
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    width: 70px;
    height: 34px;
    width: 70px;
    height: 33px;
    margin: 10px 36px 0px 30px;

} 

#modal_defaultImg {
   background-color: rgb(115, 162, 191);
    border-radius: 3px;
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    width: 70px;
    height: 34px;
    width: 85px;
    height: 33px;
}

#modal_insertImg {
	background-color: rgb(93, 124, 166);
    border-radius: 3px;
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    width: 70px;
    height: 34px;
    width: 85px;
    height: 33px;
    margin: 30px 36px 0px 30px;
}