@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

/* 연한파랑 rgb(115, 162, 191) */
/* 중간파랑 rgb(93, 124, 166) */
/* 진한파랑 rgb(3, 88, 140) */
* {
   padding: 0;
   margin: 0;
   font-family: 'Noto Sans KR', sans-serif;
}

.body-container {
   margin: 0px auto;
   width: 100%;
   height: 100%;
   /*    width: 1200px; */
}

/* a태그 속성 없애기 */
a {
   text-decoration: none;
}

/*간단 클래스*/

.ialign{
   display: inline-block;   
}

.marginleft{
   margin-left: 10px;   
}

.marginright{
   margin-right: 10px;
}

.margintop{
   margin-top: 10px;   
}

.textleft{
	text-align: left;
}

.float-right{
   float:right;
}

/** 로고 **/
.logo {
   display: inline-block;
   text-align: left;
   /*    background-color: rgb(3, 88, 140); */
}

.logo img {
   margin: 5px 200px;
   width: 200px;
   height: 70px;
   display: inline-block;
}

/** 메뉴 **/
.main_menu {
	margin: 10px 200px;
}

.dropbtn {
	background-color: white;
	color: black;
	padding: 8px 5px;
	margin: 0px 10px;
	font-size: 16px;
	border: none;
}

.dropbtn>a {
	text-decoration: none;
	color: black;
	padding: 8x 5px;
}

.dropbtn>a:hover {
	text-decoration: none;
	color: rgb(3, 88, 140);
	font-weight: 600;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	text-align: center;
	position: absolute;
	left: -15px;
	background-color: white;
	min-width: 120px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: all 0.15s ease-in;
}

.dropdown-content>a {
	display: block;
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	transition: all 0.15s ease-in;
}

.dropdown-content a:hover {
	background-color: #dfdfdf;
	text-decoration: none;
	color: black;
	transition: all 0.15s ease-in;
}

.dropdown:hover .dropdown-content {
	display: block;
	opacity: 1;
}

/*******************************/
/**         HEADER            **/
/*******************************/

.dowrite {
   margin-top: 70px;
   margin-bottom: 200px;
}

.dowritebox {
	padding: 50px 10px;
	width: 1000px;
    margin: auto;
	margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.dowrite-title {
	margin-bottom: 10px;
}

.dowrite-label {
	background-color: rgb(3, 88, 140) !important;
    color: #fff!important;
    left: calc(-1rem - 1.2em);
    position: relative;
    margin: 0;
    min-width: max-content;
    border-radius: 5px 5px 5px 0px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 700;
}

.dowrite-label span {
    font-size: 15px;
}

.dowrite-label:after {
	position: absolute;
    content: '';
    top: 100%;
    left: 0%;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0em 1.2em 1.2em 0em;
    border-color: transparent;
    border-right-color: rgb(3, 88, 140);
    width: 0em;
    height: 0em;
}

.dowrite-text {
    font-size: 20px;
    font-weight: bold;
}

/* 함께해요 폼  */
.selectbox{
    width: 170px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* 컬럼 왼쪽 정렬 */
.row_left{
	text-align: left;
}

/* 컬럼 오른쪽 정렬 */
.row_right{
	text-align: right;
}

.btnsize{
	width: 80px;	
}

.dowrite-table {
	width: 85%;
	margin: auto;
	text-align: center;
	font-size: 15px;
    border-top: 3px solid rgb(3, 88, 140);   
}

.dowrite-table td {
	text-align: center;
	padding: 15px 20px;
  	border-top: 1px solid #e2e2e2;
}

.dowrite-table td span{
	margin: 0px 5px;
	font-size: 16px;
    font-weight: 400;	
}

.dowrite-table td span{
	margin: 0px 5px;
	font-size: 16px;
    font-weight: 400;	
}


.dotextarea{
	width: 95%;
	height: 300px;
}

#fspan{
	font-size: 12px;
	color: red;
	text-align: left;
	margin: 0px;
}

/*******************************/
/**         FOOTER            **/
/*******************************/

#footer {
	border: 1px solid rgb(3, 88, 140);
	background: rgb(3, 88, 140);s
	height: 250px;
	width: auto;
	min-width: 1200px;
	margin-top: 70px;
}

/* 푸터안에 있는 메뉴 위치조정 */
#footer .links {
 	display: flex;
 	align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    padding-top: 115px;
}

#footer .links li:first-child {
    padding: 0;
    margin: 0;
}

#footer .links li {
    position: relative;
    display: inline-block;
    color: #999;
    line-height: 18px;
    padding-left: 14px;
    margin-left: 14px;
    vertical-align: top;
}

#footer .links li a {
    color: #ffff;
    font-size: 12px;
    letter-spacing: -0.5px;
}


/* 푸터 | 구별 */
#footer .links .footer_menu:before {
    position: absolute;
    top: 4px;
    left: 0; 
    width: 1px;
    height: 12px;
    background: #dcdcdc;
   content: '|'; 
}


.main_login {
	float: right;
    position: absolute;
    top: 4%;
    right: 18.5%;
    font-size: 16px;
}
.main_login a, .main_login a:hover, .main_login a:active, .main_login a:link, .main_login a:visited {
    text-decoration: none;
    color : black;
}
